<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
	algoliasearchNetlify({
		appId: 'WCL75L1HPL',
		apiKey: '66ba7843ad2b62857d06920b9f5430ce',
		siteId: '2614ffc8-75c7-47e9-bf49-b452a9adfbd3',
		branch: 'main',
		selector: 'div#search',
	});
</script>
<div id="search"></div>